.gitignore

# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Docker files
*.dockerfile

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Test coverage
.coverage
htmlcov/
